{% extends "users/base.html" %}

{% load static %}


{% block title %}
Signup
{% endblock%}

{% block index %}
<style>
    form p {
        display: flex;
        justify-content: space-between;  
        align-items: center;  
        margin-bottom: 1rem;  
    }

    form p label {
        margin-right: 10px;
        order: 1; 
    }

    form p input, form p select, form p textarea {
        order: 2;
    }

</style>

<div class="d-flex justify-content-center pt-5 pb-5">
    <div class="p-3 border bg-light">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Signup</button>
        </form>
    </div>
</div>
<script>
    document.getElementById('id_isClient').checked = false;
    document.getElementById('id_isRestaurant').checked = false;
    document.getElementById('id_isClient').addEventListener('change', function() {
        if (this.checked) {
            document.getElementById('id_isRestaurant').checked = false;
        }
    });
    document.getElementById('id_isRestaurant').addEventListener('change', function() {
        if (this.checked) {
            document.getElementById('id_isClient').checked = false;
        }
    });
</script>

  {% endblock%}